.div-container-input {
}

.h6-label {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  padding-left: 11px;
}
.input-properties {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d0c2c2;
}
